/**app.css**/
.container {
  box-sizing: border-box;
  background-color: #FDFDF8;
  font-family: PingFangSC-Light, helvetica, 'Heiti SC';
}

view,
image,
text,
navigator {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

view,
text {
  font-family: PingFangSC-Light, helvetica, 'Heiti SC';
  font-size: 29rpx;
  color: #36454F;
}

button::after {
  display: none;
}

.display-none {
  display: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #FDFDF8;
}

::-webkit-scrollbar-thumb {
  background-color: #9A9A9A;
}